@model IEnumerable<GestionEmployes.Models.repositories.Categorie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fonctionnalite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fonctionnalite)
            </td>
            <td class="table-action">
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-square-edit-outline"></i></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><i class="mdi mdi-eye"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="mdi mdi-delete"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
