@model GestionEmployes.Models.repositories.Employe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div >
    <div class="card text-center">
        <div class="card-body">
            <img src="~/uploads/@Model.Image" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">

            <h4 class="mb-0 mt-2">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Prenom)</h4>
            <p class="text-muted font-14">@Html.DisplayFor(model => model.Type)</p>

    
           <div class="d-flex justify-content-center">
            <div class="text-start float-center mt-3">
       
                <p class="text-muted mb-2 font-15"><strong>Adress :</strong> <span class="ms-2">@Html.DisplayFor(model => model.Adress)</span></p>

                <p class="text-muted mb-2 font-15"><strong>Telephone :</strong><span class="ms-2">@Html.DisplayFor(model => model.Tel)</span></p>

                <p class="text-muted mb-2 font-15"><strong>Date d'embauche :</strong> <span class="ms-2 ">@Html.DisplayFor(model => model.Date_embauche)</span></p>
                                                
                <p class="text-muted mb-1 font-15"><strong>CIN :</strong> <span class="ms-2">@Html.DisplayFor(model => model.CIN)</span></p>
                                                
                <p class="text-muted mb-1 font-15"><strong>Gandre :</strong> <span class="ms-2">@Html.DisplayFor(model => model.Sexe)</span></p>
                                                
                <p class="text-muted mb-1 font-15"><strong>Email :</strong> <span class="ms-2">@Html.DisplayFor(model => model.Email)</span></p>
                                                
                <p class="text-muted mb-1 font-15"><strong>Password :</strong> <span class="ms-2">@Html.DisplayFor(model => model.Password)</span></p>
                                                
                <p class="text-muted mb-1 font-15"><strong>Salaire :</strong> <span class="ms-2">@Html.DisplayFor(model => model.salaire) DH</span></p>
                                                
                <p class="text-muted mb-1 font-15"><strong>Categorie :</strong> <span class="ms-2">@Html.DisplayFor(model => model.Categorie.Fonctionnalite)</span></p>

                
            </div>
            </div>

    
        </div> 
        <div class="mb-3">
            <a asp-action="Edit" type="button" class="btn btn-primary mt-2" asp-route-id="@Model.Id">Edit</a> |
            <a type="button" class="btn btn-info mt-2" asp-action="Index"><i class="dripicons-chevron-left "></i>Reteur</a>
        </div>

    </div>

</div>

@*<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <div class = "col">
        
            <dt class = "col-sm-2">
                Image
             </dt>
             <dd class = "col-sm-10">
                 @if(Model.Image!=null)
                                {
                                       <img src="~/uploads/@Model.Image"  class="img-fluid img-thumbnail " width="120"/> 
                                }
             </dd>
            
        
        
             
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Prenom)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Adress)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Adress)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Tel)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Tel)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Date_embauche)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Date_embauche)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CIN)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CIN)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Sexe)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Sexe)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.salaire)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.salaire)
            </dd>
             <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.categorie)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.categorie)
            </dd>
        </div>
       
    </dl>
</div>*@

